body{
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
 }

.warn{
   color: firebrick;
   font-weight: bold;
   font-size: 20px;
}

fieldset
{
   width: 270px;

}
#cost_rn{
   color: firebrick;
   font-weight: bold;
}

div{
   background-color: var(--tg-theme-bg-color);
   padding-top: 2px;
 }
.delivery, .cashback {
   display: none;
}
