body{
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
 }

 .hint{
    color: var(--tg-theme-hint-color);
 }

 .link{
    color: var(--tg-theme-link-color);
    padding-top: 5px;
 }
a{
   font-size: 20px;
   padding-top: 15px;
}
 .button{
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    font-size: 20px;
    margin-top: 7px;
 }
gr{
   border:2px solid #999;

}

 #itog{
    text-align: center;
 }
 div{
   background-color: var(--tg-theme-bg-color);
   padding-top: 2px;
 }
 input{
   height:10px;
   border:2px solid #999;
   background:#fff;
   width: 50px;;
}